*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 100vh;
}
body{
    font-size: 25px;
	margin:0;
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mlhover.jpeg);
	background-size: cover;
	background-position:center;
	transition: 1s;
	z-index: 100000;	
}
.sticky h3{
	font-family: candara;
	font-size: 25px;
	color: #ffffff;
}
nav{ 
	background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(mlhome.jpeg);
	height: 100px;
	width:100%;
}
div.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: #033E0B;
}
.logo{
	background: transparent;
	float: left;
	width: 300px;
	height: 80px;
	padding-left: 30px;
    padding-top: 30px;
}

nav ul{
	float: right;
	margin-right: 40px;

}
nav ul li{
	display: inline-block;
	padding-top: 30px;
	line-height: 40px;
	margin-left: 0 5px;
}
nav ul li a{
	color: white;
	font-family: candara;
	font-size:15px;
	padding:5px 10px;
	border-radius: 3px;
	text-transform: uppercase;
}
header ul li a{
	float: left;
	margin-left: 20px;
	color: black;
}
ul li a:hover{
	background-color: #1DA830;
	color: #ffffff;
}
ul li.active a{
	background-color: #1DA830;
	transition: 0.5s;
	color: #ffffff;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media  (max-width: 952px){
	header.logoname{
		font-size:25px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media  (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #E9EAE9;
		top:100px;
		left:-100%;
		text-align: center;
		transition: all .5s;	
	}
	nav ul li{
		display: block;
		margin: 20px 0;
		line-height: 10px;
	}
	nav ul li a{
		font-size: 20px;
		color: black; 
	}
	a:hover,a.active{
		background: none;
		color: #1DA830;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
header{
	float: left;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mlhover.jpeg);
	background-size: cover;
	text-align: center;
	padding: 130px 0;
}
.clear{
	clear: both;
	}
.section2{
	float: left;
	width: 100%;
	background:transparent;
	text-align: center;
	padding: 50px 0;
	margin-bottom: 2px;
}
.section2 .content{
	float: left;
	width: 200%;
	margin-top: 2px;
	
}
.section2 .content .left{
	float: left;
	width: 72%;
	padding-left: 10px;	
	margin-left: 195px;
}
.section2 .content .left .card{
	background:transparent;
	padding: 100px 50px;
	color: white;
}

.section4{
	float: center;
	width: 100%;
	background:transparent;
	text-align: center;
	padding-left: 20px 0;
	margin-bottom: 10px;
}

.section4 .content{
	float: center;
	width: 100%;
	margin-top: 10px;
}
.section4 .content .right{
	float: right;
	width: 56%;
	padding-right: 10px;	
    margin-right: 95px;
}
.section4 .content .right .card{
	background:transparent;
	padding: 50px 0px;
	color: rgb(146, 97, 36);
    margin-right: 60px;
}
table tr th a{
	color: #186A06;
}
table tr td a{
	color: #186A06 ;
}
table{
	border: inset;
}
footer{
	float: left;
	width: 100%;
	background-color: #000000;
	text-align: left;
	padding: 100px 15px;
	padding: 10px;
}
.section3{
	float: left;
	width: 100%;
	background-color: black;
	text-align: left;
}
.section3 .content{
	float: left;
	width: 100%;
}
.section3 .content .card{
	width: 25%;
	float: left;
}
.section3 .content .card .box{
	background-color: black;
	color: #c19a6b;
	font-size: 30px;
	padding: 30px 5px;	
}
.box a:hover{
	background-color: #53CF38;
	border-radius:2px; 
}



.popup .overlay{
    position: fixed;
    top: px;
    left: 0px;
    width: 100vw;
    height: 200vh;
    background:none;
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url(bgg.jpg);
    width: 750px;
    height: 500px;
    z-index: 10;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
	border-radius: 20px;
}
.popup .content h1{
    text-align: left;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
	
}
.popup.active .overlay{
    display: block;

}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}



